@import "tailwindcss";

@theme {
  --font-size-10xl: 9rem;
  --font-size-10xl--line-height: 1;

  --transition-property-width: width;
  --transition-property-position: position;
}

p {
  min-height: 1em;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
